/cache/
/libraries/
/logs/
/plugins/bStats
/versions/
/world
/world_nether
/world_the_end
/.console_history
/banned-ips.json
/banned-players.json
/eula.txt
/usercache.json
/version_history.json
/whitelist.json